*{
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0;
}
.h1-title{
	font-size: 24px;
	color: #020814;
	user-select: none;
	float: left;
}
.h2-title{
	font-size: 20px;
	color: #020814;
	user-select: none;
	float: left;
}
.h3-title{
	font-size: 15px;
	color: #1d2129;
	user-select: none;
	float: left;
}
.block-height-20px{
	width: 100%;
	height: 20px;
	float: left;
}
.input-text{
	width: calc(100% - 22px);
	height: 36px;
	border: 1px solid #dde2e9;
	float: left;
	border-radius: 7px;
	padding: 0 10px;
	transition: .2s ease border;
}
.input-text:hover{
	border: 1px solid #4281ff;
	transition: .2s ease border;
}
.input-text i{
	width: 20px;
	height: 20px;
	margin: 8px 5px 8px 0;
	font-size: 18px;
	text-align: center;
	line-height: 20px;
	color: #333333;
	float: left;
}
.input-text input{
	width: calc(100% - 25px);
	float: left;
	height: 20px;
	line-height: 20px;
	margin: 8px 0;
	color: #020814;
	font-size: 13px;
}
.input-button-blue{
	width: 100%;
	float: left;
	border-radius: 7px;
	box-shadow: 0 1px 1px #00000014;
	height: 36px;
	line-height: 36px;
	text-align: center;
	background-color: #165dff;
	color: #fff;
	font-size: 15px;
	cursor: pointer;
	user-select: none;

	transition: .2s ease background-color;
}
.input-button-blue:hover{
	background-color: #457dff;

	transition: .2s ease background-color;
}
.input-button-blue:active{
	background-color: #114cd5;

	transition: .2s ease background-color;
}


.input-button-grey{
	width: 100%;
	float: left;
	border-radius: 7px;
	box-shadow: 0 1px 1px #00000014;
	height: 36px;
	line-height: 36px;
	text-align: center;
	background-color: #f2f3f8;
	color: #1d2129;
	font-size: 15px;
	cursor: pointer;
	user-select: none;

	transition: .2s ease background-color;
}
.input-button-grey:hover{
	background-color: #e5e8ef;

	transition: .2s ease background-color;
}
.input-button-grey:active{
	background-color: #c9cdd4;

	transition: .2s ease background-color;
}


.input-button{
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color: #42464e;
	background-color: #f6f8fa;
	border: 1px solid #dde2e9;
	border-radius: 5px;
	cursor: pointer;

	transition: .25s ease background-color,.25s ease border,.25s ease color;
}
.input-button:hover{
	background-color: #f9fafb;
	border: 1px solid #377afc;
	color: #377afc;

	transition: .25s ease background-color,.25s ease border,.25s ease color;
}
.input-button-config i{
	transform: rotateZ(0deg);

	transition: .3s ease transform;
}
.input-button-config:hover i{
	transform: rotateZ(45deg);

	transition: .3s ease transform;
}
.h1-title a{
	color: #0697f5;
}
.top-nav{
	width: 100%;
	height: 50px;
	float: left;
	background-color: #fff;
	box-shadow: 0px 0px 7px #33333322;
	position: fixed;
	z-index: 10;
}
.top-nav-logo{
	width: 80px;
	height: 40px;
	float: left;
	margin: 5px 0;
	background: url('../images/logo.svg') center center no-repeat;
	background-size: 80px;
}
.top-nav-more{
	width: 50px;
	height: 50px;
	font-size: 18px;
	font-weight: 100;
	text-align: center;
	line-height: 50px;
	color: #333;
	cursor: pointer;
	float: left;
	margin: 0 12px 0 0;
}
.top-nav-more:hover{
	background-color: #1664ff;
	color: #fff;
}
.top-nav-dash{
	height: 26px;
	line-height: 26px;
	padding: 0 10px;
	color: #1664ff;
	background-color: #ebf1ff;
	float: left;
	font-size: 12px;
	cursor: pointer;
	margin: 12px 0 12px 20px;
	border-radius: 5px;
	user-select: none;
}
.top-nav-dash:hover{
	background-color: #eff4ff;
	color: #4583ff;
}
.user-profile{
	width: 28px;
	height: 28px;
	text-align: center;
	line-height: 28px;
	margin: 11px 22px 11px 11px;
	background-color: #ecf2ff;
	color: #0055ff;
	float: right;
	cursor: pointer;
	border-radius: 50px;
	user-select: none;
}
.buckets-nav-title span{
	opacity: 1;
	transition: .2s ease opacity;
}
.buckets-nav-item span{
	opacity: 1;
	transition: .2s ease opacity;
}
.buckets-nav-span{
	max-height: 30px;
	/* margin 10px 20px 20px 20px */
}
i{
	transition: .35s ease transform;
}
.bottom-buttons-parent{
	width: 100%;
	height: 60px;
	background-color: #ffffff;
	border-top: 1px solid #e5e6eb;
	position: fixed;
	bottom: 0px;
}
.bottom-buttons-main{
	width: 1200px;
	height: 60px;
	margin: 0 auto;
}
.top-page-title-parent{
	width: 100%;
	height: 50px;
	background-color: #fff;
	float: left;
	border-bottom: 1px solid #e5e6eb;
}
.top-page-title-main{
	width: 1200px;
	height: 50px;
	margin: 0 auto;
	line-height: 50px;
}
.top-page-title-main-icon-button{
	width: 26px;
	height: 26px;
	margin: 12px 0px 12px 0;
	text-align: center;
	line-height: 24px;
	font-size: 24px;
	float: left;
	color: #333;
	cursor: pointer;
}
.top-page-title-main-icon-button:hover{
	color: #3377ff;
}
.red-star-span{
	user-select: none;
	color: #e63f3f!important;
	font-size: 20px;
	position: relative;
	top: 3px;
}

.select-option-item{
	background-color: #f2f3f8;
	color: #4e5969;
	padding: 0 20px;
	height: 30px;
	line-height: 30px;
	margin: 0 3px 3px 0;
	float: left;
	font-size: 12px;
	cursor: pointer;
}
.select-option-item:hover{
	color: #1664ff;
}
.select-option-item-selected-index{
	background-color: #e8f4ff;
	color: #1664ff;
}